.App {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 992px) {
  .App {
    max-width: 80vw;
  }
}

@media (min-width: 1800px) {
  .App {
    max-width: 1400px;
  }
}

.toggleButtons {
  float: right;
  margin: 10px 0;
}
