img {
  width: 100%;
}

.grid-img-container {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
}

.id-bc-container {
  font-size: 14px;
}

.parts-container p{
  text-align: center;
  font-size: 13px;
}

.saveBtn {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 10px 0 0 10px;
  z-index: 9;
}